body {
  background-image: url("bus.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  background-color: black;
  border: 2px solid white;
  padding-bottom: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  background-color: black;
  border: 2px solid white;
  padding: 3px;
  font-size: 50px;
  color: white;

  margin-top: 0;
  margin-bottom: 20px;
}

button {
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 2px solid black;
  width: 300px;
}

button:hover {
  cursor: pointer;
}

#increment {
  background-color: red;
}

#save {
  margin-top: 20px;
  background-color: green;
}

p {
  font-size: 30px;
  color: black;
  font-weight: bolder;
}
